#image{
    height: 40px;
    width: 50px;
    
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .main-content{
		min-height: 230px;
        background: #dbdfe5;
    }
    .sidebar-content{
        min-height: 100px;
        margin-bottom: 30px;
        background: #b4bac0;
    }
    body{
      background-image: linear-gradient(to right,rgb(217, 145, 235), rgb(109, 188, 219),rgb(197, 240, 140));
    }
    @media (min-width: 768px) {
    .navbar-brand.abs
      {
          position: absolute;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
      }
    }
    .navbar{
      background-color: aquamarine;
    }
    .navbar a:hover {
      background-color: rgb(240, 150, 150);
    }
